
<h1 class="text-center" style="margin-bottom: 2%;">La formation {{sigle}}</h1>

<div class="row">

<div class="card" style="width: 18rem;">
    <img src="../../../assets/images/list.png" style="height: 200px;" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Liste des étudiants</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="/etudiant" class="btn btn-primary">Afficher</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;margin-left: 2%;">
    <img src="../../../assets/images/Evaluation.jpg" style="height: 200px;" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Les évaluations</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Afficher</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;margin-left: 2%;">
    <img src="../../../assets/images/note.jpg" style="height: 200px;" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Liste de présence</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Afficher</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;margin-left: 2%;">
    <img src="../../../assets/images/moyenne.jpg" style="height: 200px;" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Les notes</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Afficher</a>
    </div>
  </div>
</div>
